.shop-main {
    width: 80%;
    margin: auto;
}

.shop-contain {
    display: inline-block;
    width: 50%;
    padding: 20px;
    text-align: center;
    height: auto;
    
    .shop-img:hover img{
        transform: scale(1.2);
        transition: transform 1S;
    }
    

    :first-child {
        width: 100%;
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    :nth-child(3) {
        p {
            background-color: antiquewhite;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical
        }
    
    }
}

