.shop-main {
    width: 80%;
    margin: auto;
}

.shop-contain {
    display: inline-block;
    width: 50%;
    padding: 20px;
    text-align: center;

    :first-child {
        width: 100%;

        img {
            width: 100%;
        }
    }

    :nth-child(3) {
        p {
            width: 90%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }


}